/* universal styles */

body{
    background-color: #f5f8ff;
}

/* shared styles */

.inter-font {
  font-family: "Inter";
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-font {
  font-family: "Raleway";
  font-optical-sizing: auto;
  font-style: normal;
}

.btn-design:hover{
    background-color: white;
    color: rgb(255, 0, 238);
    border-color:rgb(255, 0, 238) ;
    border-style: solid;
}

/* header styles */

.bg-pic{
    background-image: url(../Assets/Hero-bg.png);
    width: 1560px;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
}

/* nav styles */

.nav-bar{
    display: flex;
    justify-content: space-between;
}

.nav-logo{
    font-family: "Inter";
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 34px;
    font-weight:bold ;
    color: #4E47FF;
    padding: 20px 0 0 150px;
}

.nav-logo:hover{
    color: rgb(255, 0, 238);
}


.signup-btn{
    font-family: "Raleway";
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    background-color: #4E47FF;
    color: white;
    width: 132px;
    height: 48px;
    border: none;
    border-radius: 10px;
}

.nav-btn{
    padding: 63px 150px 0 0;
}

/* banner styles */

.header-banner{
    width: 905px;
    height: 280px;
    margin: 180px 350px ; 
}

.banner-heading{
    font-family: "Raleway";
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}

.stay-focused-btn{
    font-family: "Raleway";
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    background-color: #4E47FF;
    color: white;
    width: 154px;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin-left: 370px;
    margin-top: 0px;
}

/* webflow conf styles */

.webflow-conf{
    width: 1140px;
    height: 328px;
    margin: 130px 230px ; 
    display: flex;
    justify-content: space-between;
}

.conf-content{
    margin-top: 70px;
    padding-left: 30px;
}

.conf-content h3{
    font-family: "Raleway";
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 30px;
    font-weight: bold;
    color: #252432;
    
}

.conf-content p{
    font-family: "Raleway";
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 18px;
    width: 430px;
    color: rgba(37, 36, 50, 0.5);
    margin-top: -15px;
}

.conf-mini-pic{
    border-radius: 48px;
    width: 380px;
    height: 328px;
    margin-top: 30px;
}

.conf-btn{
    width: 200px;
    height: 40px;
    font-family: "Raleway";
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 10px;
}

/* users styles */

.users{
    background-color: #E5E7FF;
    width: 1140px;
    height: 315px;
    margin-top: 200px;
    margin-left:230px ;
    margin-right: 230px;
    margin-bottom: 0px;
    border-radius: 25px;
}

.users-heading{
    color: #252432;
    font-family: "Raleway";
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    text-align: center;
    padding-top: 22px;
}

.user-parent{
    display: flex;
    gap: 170px;
    margin-top: -15px;
    margin-left: 225px;
}

.user-content h2{
    font-family: "Inter";
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 60px;
    font-weight: bold;
    color: rgba(78, 71, 255, 1);
}

.user-content p{
    font-family: "Inter";
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: -45px;
    
}

/* rating box styles */

.rating {
    width: 905px;
    height: 380px;
    margin-top: 100px;
    margin-left: 330px;
    margin-right: 330px;
    margin-bottom: 0px;
}

.rating-head{
   font-family: "Raleway";
   font-optical-sizing: auto;
   font-size: 27px;
   font-weight: bold; 
   text-align: center;
   padding: 5px;
}

.card-box{
    display: flex;
    justify-content: space-around;
    gap: 25px;
}

.card-content{
    background-color: #ffff;
    width: 360px;
    height: 200px;
    padding: 20px;
    margin-top: 5px;
    border-radius: 14px;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 0.01px;
}

.card-content:hover{
    background-color: rgba(229, 231, 255, 1);
}
.rating-msg h4{
    color: rgba(30, 30, 30, 1);
    font-family: "Inter";
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 18px;
    font-weight: bold;

}

.rating-msg p{
    color: rgba(30, 30, 30, 1);
    font-family: "Inter";
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 14px;
    font-weight: normal;
    margin-top: -10px;
}

.people-pic img{
    margin-top: 10px;
    border-radius: 50%;
}
.people-contact .name{
    font-family: "Inter";
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 14px;
    color: rgba(117, 117, 117, 1);
}

.people-contact .date{
    color: rgba(179, 179, 179, 1) ;
    font-family: "Inter";
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 12px;
    margin-top: -10px;
}

.people-contact{
    margin-left: 10px;
}
.rating-people{
    display: flex;
}

/* focus styles */
.focus{
    background-color: #ffff;
    width: 1140px;
    height: 700px;
    margin: 130px 230px ;
    border-radius: 14px;
}

.focus-content{
    text-align: center;
    padding: 20px;
}

.focus-content h2{
  font-family: "Raleway";
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 43px;
  font-weight: bold;
  letter-spacing: 1px;
}

.focus-content p{
    color: rgba(0, 0, 0, 0.5);
    font-family: "Raleway";
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 15px;
    margin-top: -6px;
}

.focus-btn{
    font-family: "Raleway";
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    background-color: #4E47FF;
    color: white;
    width: 192px;
    height: 48px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}

.focus-pic{
    width: 840px;
    height: 360px;
    border-radius: 24px;
    margin-left: 150px;
    margin-top: 10px;
}

/* form styles */

.form{
    
    width: 1140px;
    height: 500px;
    margin: 100px 230px ;
}

.form-box{
    display: flex;
    justify-content: space-between;
}

.form-text{
    font-family: "Raleway";
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 55px;
    font-weight: bold;
    width: 520px;
    height: 230px;
    margin-top: 90px;
    padding-left: 40px;
}

.form-input{
    margin-right: 60px;
    margin-top: 50px;
}

.input-title{
    font-family: "Inter";
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 14px;
    font-weight: 500px;
    color: #000000;
}
.input{
    display: block;
    width: 390px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 1.5px;
}

.input-msg{
    display: block;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    width: 390px;
    height: 130px;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 1.5px;
}

input::placeholder{
    padding: 20px;
    color: rgba(0, 0, 0, 0.5);
}

textarea::placeholder{
    padding: 20px;
    color: rgba(0, 0, 0, 0.5);
    font-family: "Inter";
    font-optical-sizing: auto;
    font-style: normal;
}
.touch-btn{
    font-family: "Raleway";
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    background-color: #4E47FF;
    color: white;
    width: 400px;
    height: 48px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}

.footer{
    background-color: white;
    width: 1580px;
    height: 460px;
    margin-left: -7px;
    margin-bottom: -7px;
    border-top: rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 0.5px;
}

.footer-text h1{
    font-family: "Inter";
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    color: rgba(78, 71, 255, 1); 
    text-align: center;
    padding-top: 70px;
}

.footer-text p{
    color: rgba(137, 135, 161, 1);
    font-family: "Inter";
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 15px;
    text-align: center;
    width: 500px;
    margin-left: 530px;
    margin-top: -55px;
}
.foot-text{
    display: flex;
    justify-content: space-around;
    width: 400px;
    height: 24px;
    color: rgba(137, 135, 161, 1);
    font-family: "Inter";
    font-optical-sizing: auto;
    font-size: 13px;
    margin-left: 580px;
    font-weight: 700px;
}